<footer class="footer">
  <p>
    © {{anio}} Made by Tai Tran Viet from Đoàn Thanh niên Trường Đại học CMC with 
    <span class="heart">❤️</span> special help from HVHAO -.- 
  </p>
  <div class="social-links">
    <a href="https://www.facebook.com/doanthanhniencmcu" target="_blank" title="Facebook">
      <img src="https://img.icons8.com/ios-filled/50/ffffff/facebook.png" alt="Facebook" class="icon">
    </a>
    <a href="https://www.facebook.com/doanthanhniencmcu" target="_blank" title="Twitter">
      <img src="https://img.icons8.com/ios-filled/50/ffffff/twitter.png" alt="Twitter" class="icon">
    </a>
  </div>
</footer>
