<main class="main">
    <div class="content">
        <h2>Xuân tình nguyện 2025</h2>
        <div class="letter">
            <p><strong>Kính gửi Quý Doanh nghiệp/Quý Nhà tài trợ/Quý Mạnh thường quân,</strong></p>
            <p>Lời đầu tiên, Ban Chấp hành Đoàn TNCS Hồ Chí Minh Trường Đại học CMC xin gửi tới Quý vị lời chào thân ái và trân trọng nhất. Kính chúc Quý vị luôn dồi dào sức khỏe, bình an và thành công!</p>
            <p>Hành trình đến với những trẻ em vùng cao luôn đầy thách thức nhưng tràn ngập yêu thương. Xuân 2025, Đoàn Trường CMC chọn xã Hố Quáng Phìn, huyện Đồng Văn, tỉnh Hà Giang làm điểm đến cho chương trình “Xuân Tình Nguyện 2025”.</p>
            <p>Tại đây, nhiều em nhỏ thiếu thốn chăn ấm, thiết bị học tập và bữa ăn đủ đầy. Đường đến trường của các em là những con dốc cheo leo và hành trình vượt qua thiên nhiên khắc nghiệt.</p>
            <p>Để chương trình lan tỏa và mang lại hiệu quả, chúng tôi cần sự đồng hành của Quý vị. Mỗi đóng góp, dù lớn hay nhỏ, đều sẽ trở thành những món quà thiết thực cho các em nhỏ vùng cao.</p>
            <p>Chúng tôi mong nhận được sự ủng hộ từ Quý vị, góp phần biến những ước mơ của trẻ em nơi đây thành hiện thực.</p>
            <p><em>Đoàn Thanh niên Trường Đại học CMC xin kính chúc Quý vị an khang, thịnh vượng và thành công!</em></p>
            
            <a href="/ho-so-tai-tro" class="btn-ho-so-tai-tro">Xem hồ sơ tài trợ</a>`
        </div>

    </div>
</main>
