:root {
  --primary-color: #004aad;
  --secondary-color: #ffcc00;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  background: var(--primary-color);
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo-cmcu img {
  max-width: 200px;
  height: auto;
}

.logo-doan {
  max-width: 40px;
  height: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 1rem;
}

.nav-links a:hover {
  color: var(--secondary-color);
}

@media (max-width: 768px) {
  .header {
      flex-direction: column;
      text-align: center;
      padding: 1rem;
  }

  .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      margin-top: 1rem;
  }
}
