<main class="main" style="height: 88vh; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <div class="content" style="width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <h2 style="margin-bottom: 10px;">Xuân tình nguyện 2025</h2>
        <p style="margin-bottom: 20px;">Giải pháp Tài chính, tài trợ bởi Casso (<a href="https://casso.vn" target="_blank">https://casso.vn</a>)</p>
        <img src="https://vietqr.io/img/casso-vietqr.svg" alt="logo">
        <p style="margin-bottom: 20px;">Đoàn Thanh niên CMCU cũng yêu Casso</p>
        <div class="ho-so-tai-tro" style="width: 100%; height: 100%; position: relative;">
            <iframe 
                src="https://docs.google.com/spreadsheets/d/e/2PACX-1vS6zJEGLPl40fsHNH2pX_qY86kocKIEAwpsTme8coYTsuqvj-Y9KfRjcI42LS8v_6LJVNdournfCIKR/pubhtml" 
                allow="autoplay"
                style="width: 100%; height: 100%; border: none;">
            </iframe>
        </div>
    </div>
</main>
