<main class="main" style="height: 88vh; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <div class="content" style="width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <h2 style="margin-bottom: 10px;">Xuân tình nguyện 2025</h2>
        <p style="margin-bottom: 20px;">Công khai quỹ</p>
        <div class="ho-so-tai-tro" style="width: 100%; height: 100%; position: relative;">
            <iframe 
                src="https://public.casso.vn/fdd23620-99e4-11ef-95d2-df3b370b378f" 
                allow="autoplay"
                style="width: 100%; height: 100%; border: none;">
            </iframe>
        </div>
    </div>
</main>
