.main {
  height: 100vh; /* Chiều cao toàn màn hình */
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--light-color);
  padding: 0; /* Loại bỏ padding để khớp với body */
  margin: 0;
}

.content {
  text-align: center;
  width: 100%; /* Lấp đầy chiều rộng */
  height: 100%; /* Lấp đầy chiều cao */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

iframe {
  width: 100%; /* Lấp đầy chiều rộng container */
  height: 100%; /* Lấp đầy chiều cao container */
  border: 5px solid var(--primary-color); /* Đường viền nổi bật */
  border-radius: 10px; /* Bo góc mượt mà */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Đổ bóng để tạo chiều sâu */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Hiệu ứng mượt */
  border: 3px solid var(--primary-color);

}

iframe:hover {
  transform: scale(1.003); /* Phóng to nhẹ khi hover */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); /* Tăng đổ bóng khi hover */
}

h2 {
  color: var(--primary-color); /* Màu sắc nổi bật */
  margin-bottom: 10px;
  font-size: 2rem; /* Tăng kích thước tiêu đề */
  font-weight: bold; /* Làm đậm tiêu đề */
  text-transform: uppercase; /* Chuyển chữ thành viết hoa */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Tạo hiệu ứng đổ bóng chữ */
}

p {
  margin-bottom: 20px;
  font-size: 1.2rem; /* Tăng kích thước văn bản mô tả */
  color: var(--primary-color);
  font-weight: 500; /* Tăng độ đậm chữ */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Tạo hiệu ứng đổ bóng nhẹ */
}

.ho-so-tai-tro {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .main {
    padding: 1rem;
  }

  iframe {
    border: 3px solid var(--primary-color); /* Giảm độ dày viền */
    border-radius: 8px; /* Bo góc nhỏ hơn */
  }

  h2 {
    font-size: 1.5rem; /* Giảm kích thước tiêu đề trên màn hình nhỏ */
  }

  p {
    font-size: 1rem; /* Giảm kích thước mô tả trên màn hình nhỏ */
  }
}
