:root {
  --primary-color: #004aad;
  --light-color: #ffffff;  /* Đặt nền trắng */
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: var(--light-color); /* Nền trắng cho toàn trang */
}

.main {
  height: 100vh; /* Chiều cao toàn màn hình */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-color); /* Đảm bảo phần chính cũng có nền trắng */
  padding: 0;
  margin: 0;
}

.content {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--light-color); /* Đảm bảo nội dung cũng có nền trắng */
}

iframe {
  width: 100%;
  height: 100%;
  border: 3px solid var(--primary-color);
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);  /* Đổ bóng nhẹ hơn */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

iframe:hover {
  transform: scale(1.003);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15); /* Đổ bóng nhẹ hơn khi hover */
}

h2 {
  color: var(--primary-color);
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);  /* Đổ bóng nhẹ */
}

p {
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: var(--primary-color);
  font-weight: 500;
  text-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.05);  /* Đổ bóng nhẹ hơn */
}

.ho-so-tai-tro {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .main {
    padding: 1rem;
  }

  iframe {
    border: 2px solid var(--primary-color);
    border-radius: 8px;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }
}
